<fb-ui-header>
    <span left-toolbar-items>
        <fb-console-image [imageSrc]="logoImg"></fb-console-image>
    </span>
    <span right-toolbar-items>
        <ng-container *ngIf="user$ | async as user">
            <div class="UserSession__Container">
                <div class="UserSession__Name" *ngIf="user.name">Hello {{user.name}}!</div>
                <button *ngIf="user.id" mat-stroked-button color="primary" (click)="simulateLogout()">Logout</button>
            </div>
        </ng-container>
      </span>
</fb-ui-header>
<router-outlet></router-outlet>